{:kotoba.app/id "cloud.itonami.isic-8411", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibviiea7rjq5f533m674ze2m3q5jl54eoo2jme6ddzp6uhyol4dgm", :kotoba.app/embed-url "ipfs://bafkreibviiea7rjq5f533m674ze2m3q5jl54eoo2jme6ddzp6uhyol4dgm", :published {:archive "https://kotobase.net/ipfs/bafkreibviiea7rjq5f533m674ze2m3q5jl54eoo2jme6ddzp6uhyol4dgm", :size 72571, :put-status 201, :get-status 200, :at "2026-08-15T13:34:18.185Z"}}
